<div class="drag-container" [dragula]="'test-bag'">
<div class="item" *ngFor="let item of list.items">
  <div class="content" style="display:flex;">
    <div class="left">
        <mat-checkbox></mat-checkbox>
    </div>
    <div class="middle">
        <mat-form-field class="example-full-width">
            <input matInput [value]="item.title" (change)="titleChanged($event)">
          </mat-form-field>
    </div>
    <div class="right">
        <fa class="fa" name="plus" (click)="addChild(item)"></fa>
    </div>
  </div>
  <div class="content-hidden" *ngIf="showHiddenContent">
    <div class="desc">{{ item.description }}</div>
    <div class="state">{{ item.state }}</div>
  </div>
  <rave-todo-item [list]="item.items" *ngIf="item.items != null"></rave-todo-item>
</div>
</div>