.drag-container .item {
  background-color: unset !important;
  margin-top:-20px;
  // border-left: 1px solid blue !important;
}


.item-name {
  color:pink;
}

.item {
  margin-left: 25px;
  margin-bottom:-25px;
  // padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  border:blue;
}

.content {
  display:flex;
  align-items: center;

  .left {
    flex-basis: 2%;
  }
  
  .middle {
    flex-basis:50%;
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 10px; 

    /deep/ .mat-form-field-infix {
      width:280px;
    }
  }
  
  .right {
    flex-basis:10%;

    .clickable {
      cursor: pointer;
    }
  }
}


