.drag-container .item {
  background-color: unset !important;
  border-left: 1px solid blue !important;
}


.item-name {
  color:pink;
}

.item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  border:blue;
}

.content {
  display:flex;
  align-items: center;

  .left {
    flex-basis: 2%;
  }
  
  .middle {
    flex-basis:30%;
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 10px; 
  }
  
  .right {
    flex-basis:10%;

    > .fa {
      cursor: pointer;
    }
  }
}


