<div class="drag-container" [dragula]="'test-bag'">
<div class="item" *ngFor="let item of items">
  <div class="content" style="display:flex; align-items:center; justify-content:space-between;">
    <div class="left">
        <mat-checkbox></mat-checkbox>
    </div>
    <div class="middle">
        <div class="title">{{ item.title }}</div>
        <div class="desc">{{ item.description }}</div>
        <div class="state">{{ item.state }}</div>
    </div>
    <div class="right">
        <button (click)="addChild(item)">Add Child</button>
    </div>
  </div>
  <rave-todo-list [items]="item.children" *ngIf="item.children != null"></rave-todo-list>
</div>
</div>

