<div class="rave-list">
  <div class="title">{{list.title}}</div>
  <span>{{list.id}}</span>

  <!-- <fa *ngIf="list.isCollapsed" class="fa" name="caret-down" (click)="collapse(list)"></fa> -->
  <rave-todo-item
    class="rave-item"
    [list]="list.children">
  </rave-todo-item> 

  <div class="new-item">
    <fa class="fa" name="plus"></fa>
    <mat-form-field class="field-title" floatLabel="never">
      <input matInput placeholder="New Item" (change)="newItem($event)">
    </mat-form-field>
  </div>
  
</div>

<h2>Test</h2>
<button (click)="addToTest()">Test</button>
{{test}}

<!-- <h2>History</h2>
{{undoStack?.length}}
<div *ngFor="let piece of undoStack">
  {{piece}}
</div> -->