.rave-list {
  border: 1px solid #d3d3d3;
  padding: 5px;
  border-radius: 2px;

  /deep/ .mat-form-field {

    .mat-form-field-wrapper {
      padding-bottom: .75em;
    }
    .mat-form-field-infix {
      width:280px;
    }
    .mat-form-field-underline {
    display: none;
    }
  }

  

  .title {
    // margin-left:25px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom:5px;
  }

  .new-item {

    .fa {
      margin-left:28px;
    }

    .field-title {
      margin-left:12px;
    }
  }

  
}

:host {
  display: block;
  // margin-left: -25px;
}